SPRING_DATASOURCE_URL=jdbc:mysql://localhost:3306/jlxg?useUnicode=true&characterEncoding=utf8&useSSL=false&serverTimezone=Asia/Shanghai
SPRING_DATASOURCE_USERNAME=root
SPRING_DATASOURCE_PASSWORD=

OPC_HOST=192.168.14.14
OPC_DOMAIN=
OPC_USER=administrator
OPC_PASSWORD=
OPC_CLSID=001AAAA6-FB54-4627-84B2-8777379E5868
